<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.brotzeller.topeer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".TopeerApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TopoListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopoPagedDetailActivity"
            android:parentActivityName=".TopoListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_topo_paged_detail"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopoListActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.topo" />
                <data android:host="*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
